{{#each this}}
<div class="country-card">
    <div class="flag">
        <img src="{{flags.svg}}" alt="{{name.common}}" width="50px">
        <span class="country-name-one">{{name.common}}</span>
    </div>
    <p class="country-description">Capital: <span class="country-description-little">{{capital}}</span></p>
    <p class="country-description">Population: <span class="country-description-little">{{population}}</span></p>
    <ul class="country-description">Languages: 
        {{#each languages}}<li class="language">{{this}}</li>{{/each}}
    </ul>
</div>
{{/each}}