{{#each this}}
<div class="country-card">
    <div class="flag">
        <img src="{{flags.svg}}" alt="">
    </div>
    <h2 class="country-name">{{name.official}}</h2>
    <p class="card-text">{{capital}}</p>
    <p class="card-text">{{population}}</p>
    <p class="card-text">{{#each languages}}{{this}}{{/each}}</p>

</div>
{{/each}}